<%-include("header",{title,loggedIn}) %>
<h1 class="text-center">About Mwibutsa</h1>
<hr>
<div class="center-justify">
<h3>Our Mission</h3>
<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tenetur impedit recusandae commodi voluptatibus consequuntur? Mollitia vel consequuntur architecto unde, sequi repellendus similique laudantium magnam sed repudiandae corrupti non a nisi est distinctio facilis amet nulla cupiditate. Deleniti harum ipsa quidem reprehenderit explicabo laborum, voluptatum odit sapiente mollitia vero consectetur error culpa soluta, ut sint ex! Praesentium itaque numquam aperiam molestias mollitia illo. In reiciendis corporis facere quam necessitatibus, eligendi fugiat rem. Odio veritatis.
</p>
<h3>Vision</h3>
<p>
voluptas officia reprehenderit, molestiae omnis odit maxime nemo fugiat reiciendis eius dignissimos amet! Impedit cum, libero laboriosam, voluptatibus quidem possimus facilis aspernatur rerum itaque nihil velit.
</p>
</div>
<% include footer %>