<%-include("header",{title}) %>
<h1 class="text-center">Contact-us</h1><hr>
<div class="text-center">
    <strong>Email:</strong><em><a href="mailto:fmwibutsa@gmail.com">fmwibutsa@gmail.com</a></em><br><br>
    <strong>Tel:</strong><em>+250787740316 / +250722551522</em>
    
</div>
<% include footer %>