<!DOCTYPE html>
<html>

	<head>

		<title>Mwibutsa | <%= title %></title>
		<script src="/jquery.min.js"></script>
		<script src="/javascripts/custom-script.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			<div id="top-header"><h1>Mwibutsa Floribert</h1></div>
			<hr>
			
			<div id="nav-container">
				<nav id="nav" class="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about-us">About</a></li>
						<li><a href="/new-post">Manage Posts</a></li>
						<li><a href="/contact-us">Contact</a></li>
						<li><a href="#">Account</a>
							<ul>
								<% if(loggedIn){%>
								<li><a href="/account/logout">Logout</a></li>
								<li><a href="/account/profile">Profile</a></li>
								<% }%>
								<% if(!loggedIn){%>
								<li><a href="/account/login">Login</a></li>
								<li><a href="/account/new-account">Sign up</a></li>
								<%}%>
							</ul>
						</li>
					</ul>
				</nav>
				<nav id="right-nav">
	
				</nav>
			</div>
			<br>
			<div style="clear:left">

