<%- include("header",{title,posts})%>
	<div id="home-header">
		<h1>Welcome!</h1>
	</div>
	<div>
		<h1 class="text-center">Blog Posts</h1>
		<hr>
		<div class="page-grid">
			<div class="posts">
			<% posts.forEach((post)=>{ %>
				<a href=<%= "/posts/"+post.id%>><h4 class="post-title"><%=  post.title%></h4></a>
				<p><%= post.body %></p>
				<hr>
			<% }); %>
			

			</div>
			<%include sidebar %>
		</div>
	</div>

<% include footer%>
