<%- include("header",{title}) %>
    <div class="page-grid">
        <div>
        <h2><%= post.title %></h2>
        <p class="post-body"><%= post.body %></p>
        <div class="comment">
            <div class="comment-form">
                <form method="post" action="/posts/comment">
                    <textarea rows="2" cols="10"></textarea>
                    <button type="submit">Comment</button>
                </form>
            </div>
        </div>
        </div>
        <%include sidebar %>
    </div>
<% include footer %>