<div class="sidebar">
<!-- Search Box -->
    <div class="card">
        <form method="get">
            <input type="text" class="text" name="searcKeywords" placeholder="Search......">
            <input type="submit" id="search-button" value="Search">
        </form>
    </div>
<!-- /Search Box -->


<!--POST CATEGORIES -->
<div class="card">
    <h3 class="text-center">Post categories</h3>
    <ol>
        <li><a href="#">Cat1</a></li>
        <li><a href="#">Cat1</a></li>
        <li><a href="#">Cat1</a></li>
        <li><a href="#">Cat1</a></li>
    </ol>
</div>

<!-- EVENTS -->
<div class="card">
    
    <ol>
        <li><a href="#">Lounching Our website</a></li>
        <li><a href="#">Exploring Our online services</a></li>
    </ol>
</div>
<!-- MOST VISITED POSTS -->
</div>