<%-include('header',{title,loggedIn}) %>
<div>
    <h1 class="text-center">Create a new account</h1>
    <% if(errors){%>
        <ol>
            <%errors.forEach((error)=>{%>
            <li style="color:red"><%=error.errorField%>: <%=error.errorMessage%></li>
            <%})%>
        </ol>
    <%}%>
    <form method="post" action="/account/new-account">

        <label>Firstname:</label><br>
        <input type="text" name="firstname" placeholder="firstname" class="text-input"><br><br>
        <label>Lastname:</label><br>
        <input type="text" name="lastname" placeholder="lastname" class="text-input"><br><br>
        <label>Email:</label><br>
        <input type="text" name="email" placeholder="email" class="text-input"><br><br>
        <label>Password:</label><br>
        <input type="password" name="password" placeholder="password" class="text-input"><br><br>
        <label>Confirm password:</label><br>
        <input type="password" name="cpassword" placeholder="Confirm Password" class="text-input"><br><br>
        <button type="submit">Add post</button>
    </form>
</div>
<%include footer %>